In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime as dt

In [2]:
df = pd.read_csv('../../../data/lab/USD_BRLDadosHistoricos2017-2020.csv', decimal=",")
df.head()

         Data  Último  Abertura  Máxima  Mínima    Var%
0  26.03.2020  5.0227    5.0364  5.0660  4.9739  -0,27%
1  25.03.2020  5.0366    5.0995  5.1109  4.9722  -1,23%
2  24.03.2020  5.0995    5.1431  5.1431  5.0412  -0,88%
3  23.03.2020  5.1446    5.0628  5.1479  5.0050   1,59%
4  20.03.2020  5.0640    5.0010  5.0662  4.9820  -0,63%

In [3]:
df.tail()

           Data  Último  Abertura  Máxima  Mínima    Var%
817  07.02.2017  3.1205    3.1155  3.1369  3.1155   0,14%
818  06.02.2017  3.1160    3.1185  3.1276  3.1050  -0,05%
819  03.02.2017  3.1176    3.1237  3.1389  3.1042  -0,20%
820  02.02.2017  3.1240    3.1290  3.1304  3.1075  -0,18%
821  01.02.2017  3.1295    3.1520  3.1638  3.1275  -0,68%

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822 entries, 0 to 821
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Data      822 non-null    object
 1   Último    822 non-null    float64
 2   Abertura  822 non-null    float64
 3   Máxima    822 non-null    float64
 4   Mínima    822 non-null    float64
 5   Var%      822 non-null    object
dtypes: float64(4), object(2)
memory usage: 38.7+ KB

In [5]:
df['Date'] = pd.to_datetime(df['Data'], format='%d.%m.%Y') 
df.head()

         Data  Último  Abertura  Máxima  Mínima    Var%       Date
0  26.03.2020  5.0227    5.0364  5.0660  4.9739  -0,27% 2020-03-26
1  25.03.2020  5.0366    5.0995  5.1109  4.9722  -1,23% 2020-03-25
2  24.03.2020  5.0995    5.1431  5.1431  5.0412  -0,88% 2020-03-24
3  23.03.2020  5.1446    5.0628  5.1479  5.0050   1,59% 2020-03-23
4  20.03.2020  5.0640    5.0010  5.0662  4.9820  -0,63% 2020-03-20

In [6]:
df.tail()

           Data  Último  Abertura  Máxima  Mínima    Var%       Date
817  07.02.2017  3.1205    3.1155  3.1369  3.1155   0,14% 2017-02-07
818  06.02.2017  3.1160    3.1185  3.1276  3.1050  -0,05% 2017-02-06
819  03.02.2017  3.1176    3.1237  3.1389  3.1042  -0,20% 2017-02-03
820  02.02.2017  3.1240    3.1290  3.1304  3.1075  -0,18% 2017-02-02
821  01.02.2017  3.1295    3.1520  3.1638  3.1275  -0,68% 2017-02-01

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822 entries, 0 to 821
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Data      822 non-null    object
 1   Último    822 non-null    float64
 2   Abertura  822 non-null    float64
 3   Máxima    822 non-null    float64
 4   Mínima    822 non-null    float64
 5   Var%      822 non-null    object
 6   Date      822 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 45.1+ KB

In [8]:
df_by_month = df['Último'].groupby(df['Date'].dt.to_period('M')).mean()

In [9]:
df_by_month = df_by_month.to_frame()

In [10]:
df_by_month.head()

           Último
Date
2017-02  3.102680
2017-03  3.126491
2017-04  3.138250
2017-05  3.205922
2017-06  3.295968

In [11]:
df_by_month.tail()

           Último
Date
2019-11  4.160862
2019-12  4.106405
2020-01  4.147635
2020-02  4.351015
2020-03  4.853958

In [12]:
len(df_by_month)

38

In [13]:
df_by_month.to_csv('../../../data/miner/media_mensal_dolar_01-17a03-20.csv')